body {
}
.usersTable {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    text-align: center;
}
caption {
    border: 1px solid #000;
}
thead{
    background:#fff0b6
}
th {
    border: 1px solid #000;
}
td{
    border:1px solid #000;
}
